@import url('bare.min.css');
@import url('normalize.css');

@media only screen and (min-width: 760px) {
    main {
        margin-bottom: 4em;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    grid {
        display: flex;
        flex-direction: row;
    }

    menu {
        margin-top: 0.6em !important;
    }

    section {
        margin-top: 2em !important;
    }

    .border_right {
        border-right: 1px solid #e3e6e8;
    }

    .border_left {
        border-left: 1px solid #e3e6e8;
        margin-left: -1px;
    }

    /* TODO Fix this shit for real */
    .absolute_bottom {
        position: absolute;
        bottom: 6.7%;
        left: 2.5%;
        width: 95%;
    }

    .absolute_fill {
        position: absolute;
        bottom: 0;
        top: 0;
    }
}

@media only screen and (max-width: 760px) {
    #agreements {
        text-align: left;
    }
}

body, html {
    background: #f4f5f6;
    overflow-x: hidden;
}

textarea {
    border: 1px solid #e3e6e8 !important;
    resize: none;
}

.card_link {
    color: inherit;
    display: block;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.centered {
    text-align: center;
}

.errorlist {
    background: red;
    text-align: center;
    list-style-type: none;
    padding: 0.5em;
}

.formatted_wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
    /* TODO Fuck browser compability */
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* TODO update style */
.helptext, .nonfield {
    display: none;
}

.inline {
    display: inline;
}

.total_center {
    align-items: center;
    align-self: center;
    justify-content: center;
}

/* Messages */

#debug, #info, #success, #warning, #error {
    text-align: center;
}

#debug:hover, #info:hover, #success:hover, #warning:hover, #error:hover {
    cursor: pointer;
}

#debug {
    background: black;
}

#info {
    background: white;
}

#success {
    background: lightgreen;
}

#warning {
    background: yellow;
}

#error {
    background: red;
}
