@import url('bare.min.css');

html, body {
    background: #f4f5f6;
    overflow-x: hidden;
}

h2 {
    display: flex !important;
    justify-content: center !important;
}

/* TODO check mobile min-width value */
@media only screen and (min-width: 760px) {
    menu {
        margin-top: 0.6em !important;
    }

    section {
        margin-top: 2em !important;
    }

    .border_right {
        border-right: 1px solid gray;
    }
}

.card_link {
    color: inherit;
    display: block;
    text-decoration: none;
    margin: 1em;
}
