@import url('bare.min.css');

html, body {
    background: #f4f5f6;
}

h2 {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 2em !important;
}

.border_right {
    border-right: 1px solid gray;
}

.card_link {
    color: inherit;
    display: block;
    text-decoration: none;
    margin: 1em;
}
