{% extends 'the_platform/base.html' %}

{% block content %}
    <h1>{{ bet.name }}</h1>
    <table>
        <tr>
            <th>Owner</th>
            <td>{{ bet.owner }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ bet.description }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ bet.created }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ bet.pub_date }}</td>
        </tr>
        <tr>
            <th>Ends on</th>
            <td>{{ bet.end_date }}</td>
        </tr>
        <tr>
            <th>Resolved</th>
            <td>{{ bet.resolved }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ bet.type }}</td>
        </tr>
    </table>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {# TODO Add check for already voted #}
    {% if not bet.resolved %}
        <form action="{% url 'bets:choice_bet' bet.prim_key %}" method="post">
            {% csrf_token %}
            <label for="number">Amount</label>
            <input type="number" id="placed" name="placed">
            <label for="{{ forloop.counter }}">{{ choice.description }}</label>
            {% for choice in bet.choice_set.all %}
                <input type="radio" id="{{ forloop.counter }}" name="choice" value="{{ choice.description }}">
                <label for="{{ forloop.counter }}">{{ choice.description }}</label>
            {% empty %}
            {% endfor %}
            <input type="submit" value="Bet">
        </form>
    {% endif %}
{% endblock %}
