{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | {{ bet.name }}
{% endblock %}

{% block profile_name %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    {% if choice_bet %}
        <h1>{{ choice_bet.name }}</h1>
        <table>
            <tr>
                <th>Owner</th>
                <td>{{ choice_bet.owner }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ choice_bet.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ choice_bet.created }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ choice_bet.pub_date }}</td>
            </tr>
            {% if not choice_bet.resolved %}
                <tr>
                    <th>Ends on</th>
                    <td>{{ choice_bet.end_date }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Winning choice</th>
                    <td>{{ choice_bet.winning_choice }}</td>
                </tr>
                <tr>
                    <th>Pot</th>
                    <td>{{ choice_bet.pot }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Resolved</th>
                <td>{{ choice_bet.resolved }}</td>
            </tr>
            {% if placed_bet %}
                <tr>
                    <th>Your Choice</th>
                    <td>{{ placed_bet.chosen }}</td>
                </tr>
                <tr>
                    <th>Choice picks</th>
                    <td>{{ placed_bet.chosen.picks }}</td>
                </tr>
            {% endif %}
        </table>

        {% if user_can_place_bet %}
            <form action="{% url 'bets:place_bet' choice_bet.prim_key %}" method="post">
                {% csrf_token %}
                <label for="number"><h5>Amount</h5></label>
                <input
                    type="number"
                    id="placed"
                    name="placed"
                    min="0"
                    placeholder="Amount"
                    required
                >
                <h5>Available choices</h5>
                {% for choice in choice_bet.choice_set.all %}
                    <input
                        type="radio"
                        id="{{ forloop.counter }}"
                        name="choice"
                        value="{{ choice.description }}"
                        required
                    >
                    <label for="{{ forloop.counter }}">{{ choice.description }}</label>
                    <br>
                {% empty %}
                    <p style="display: inline">
                        No choices available. Please contact the administrator. This shouldn't happen.
                    </p>
                {% endfor %}
                <hr>
                <button m-full type="submit">Bet</button>
            </form>
        {% endif %}

        {# TODO Decide when a user can resolve a bet (after he placed and/or if he decides to not be able to place) #}
        {% if choice_bet.owner == request.user.profile and choice_bet.winning_choice == None %} {# and not placed_bet #}
            <h5>Available Choices</h5>
            <form action="{% url 'bets:resolve_bet' choice_bet.prim_key %}" method="post">
                {% csrf_token %}
                {% for choice in choice_bet.choice_set.all %}
                    <input
                        type="radio"
                        id="{{ forloop.counter }}"
                        name="choice"
                        value="{{ choice }}"
                    >
                    <label for="{{ forloop.counter }}">{{ choice }}</label>
                    <br>
                {% empty %}
                    <p style="display: inline">
                        No choices available. Please contact the administrator. This shouldn't happen.
                    </p>
                {% endfor %}
                <hr>
                <button
                    name="resolve"
                    value="resolve"
                    onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                >
                    Resolve
                </button>
            </form>
        {% endif %}
    {% elif date_bet %}
        <h1>{{ date_bet.name }}</h1>
        <table>
            <tr>
                <th>Owner</th>
                <td>{{ date_bet.owner }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ date_bet.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ date_bet.created }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ date_bet.pub_date }}</td>
            </tr>
            {% if not date_bet.resolved %}
                <tr>
                    <th>Period starts on</th>
                    <td>{{ date_bet.time_period_start }}</td>
                </tr>
                <tr>
                    <th>Period ends on</th>
                    <td>{{ date_bet.time_period_end }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Winning Date</th>
                    <td>{{ date_bet.winning_date }}</td>
                </tr>
                <tr>
                    <th>Pot</th>
                    <td>{{ date_bet.pot }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Resolved</th>
                <td>{{ date_bet.resolved }}</td>
            </tr>

        </table>

        {% if user_can_place_bet %}
            <form action="{% url 'bets:place_bet' date_bet.prim_key %}" method="post">
                {% csrf_token %}
                <label for="number"><h5>Amount</h5></label>
                <input
                    type="number"
                    id="placed"
                    name="placed"
                    min="0"
                    placeholder="Amount"
                    required
                >
                <label for="date"><h5>Date</h5></label>
                <input
                    type="date"
                    id="placed"
                    name="date"
                    min="{{ date_bet.time_period_start|date:"Y-m-d" }}"
                    max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                    placeholder="Date"
                    required
                >
                <button m-full type="submit">Bet</button>
            </form>
        {% endif %}

        {# TODO Decide when a user can resolve a bet (after he placed and/or if he decides to not be able to place) #}
        {% if date_bet.owner == request.user.profile and date_bet.winning_date == None %} {# and not placed_bet #}
            <h5>Winning Date</h5>
            <form action="{% url 'bets:resolve_bet' date_bet.prim_key %}" method="post">
                {% csrf_token %}
                <input
                    type="date"
                    id="{{ forloop.counter }}"
                    name="date"
                    value="{{ date }}"
                    min="{{ date_bet.time_period_start|date:"Y-m-d" }}"
                    max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                >
                <label for="{{ forloop.counter }}">{{ date }}</label>
                <button
                    name="resolve"
                    value="resolve"
                    onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                >
                    Resolve
                </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
