{% extends 'the_platform/base.html' %}

{% block content %}
    <h1>{{ bet.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Description</th>
                <th>Created</th>
                <th>Published</th>
                <th>Ends on</th>
                <th>Resolved</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ bet.owner }}</td>
                <td>{{ bet.description }}</td>
                <td>{{ bet.created }}</td>
                <td>{{ bet.pub_date }}</td>
                <td>{{ bet.end_date }}</td>
                <td>{{ bet.resolved }}</td>
                <td>{{ bet.type }}</td>
            </tr>
        </tbody>
    </table>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {# TODO Add check for already voted #}
    {% if not bet.resolved %}
        <form action="{% url 'bets:choice_bet' bet.prim_key %}" method="post">
            {% csrf_token %}
            {# TODO Add null check #}
            <label for="number">Amount</label>
            <input type="number" id="placed" name="placed">
            {# TODO Add null and negative check #}
            {% for choice in bet.choice_set.all %}
                <input type="radio" id="{{ forloop.counter }}" name="choice" value="{{ choice.description }}">
                <label for="{{ forloop.counter }}">{{ choice.description }}</label>
            {% empty %}
            {% endfor %}
            <input type="submit" value="Bet">
        </form>
    {% endif %}
{% endblock %}
