{% extends 'the_platform/base.html' %}

{% block title %}
    {% if choice_bet %}
        {{ choice_bet }} | {{ block.super }}
    {% elif date_bet %}
        {{ date_bet }} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                {% if user.is_superuser %}
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}#unresolved_feedback">Unresolved Feedback</a>
                    </menuitem>
                {% endif %}
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#transactions">Transactions</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#resolved_bets">Resolved Bets</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% if choice_bet %}
        <card>
            <table xx class="fixed_table">
                <tr>
                    <th>Name</th>
                    <td class="formatted_wrap">{{ choice_bet.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="formatted_wrap">{{ choice_bet.description }}</td>
                </tr>
                {% if placed_bet %}
                    <tr>
                        <th>Your Choice</th>
                        <td class="formatted_wrap">{{ placed_bet.chosen }}</td>
                    </tr>
                    <tr>
                        <th>Points placed</th>
                        <td>{{ placed_bet.placed }}</td>
                    </tr>
                    <tr>
                        <th>Choice picks</th>
                        <td>{{ placed_bet.chosen.picks }}</td>
                    </tr>
                {% endif %}
                {% if not choice_bet.resolved %}
                    {% if choice_bet.ends_date %}
                        <tr>
                            <th>Ends on</th>
                            <td>{{ choice_bet.end_date }}</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <th>Winning choice</th>
                        <td class="formatted_wrap">{{ choice_bet.winning_choice }}</td>
                    </tr>
                    <tr>
                        <th>Pot</th>
                        <td>{{ pot_size }}</td>
                    </tr>
                {% endif %}
            </table>
        </card>

        {% if choice_bet.owner == user.profile and not choice_bet.placedchoicebet_set.all %}
            <grid>
                <div col="1/2">
                    <form action="{% url 'bets:edit_choice_bet' choice_bet.prim_key %}">
                        {% csrf_token %}
                        {% if debug %}
                            <button full>Edit Bet</button>
                        {% else %}
                            <button full disabled dtt="Available Soon&trade;">Edit Bet</button>
                        {% endif %}
                    </form>
                </div>
                <div col="1/2">
                    <form action="{% url 'bets:delete_choice_bet' choice_bet.prim_key %}" method="post">
                        {% csrf_token %}
                        <button full onclick="return confirm('Are you sure? The bet will get deleted.')">
                            Delete Bet
                        </button>
                    </form>
                </div>
            </grid>
        {% endif %}

        {% if user_can_place_bet and choice_bet.owner == user.profile and not choice_bet.winning_choice %}
            <card>
                <grid>
                    <div col="1/2" class="border_right">
                        <h2 xx class="centered">Place Bet</h2>
                        <form action="{% url 'bets:place_bet' choice_bet.prim_key %}" method="post">
                            {% csrf_token %}
                            <h5>Available choices</h5>
                            {% for choice in choice_bet.choice_set.all %}
                                <input
                                    type="radio"
                                    id="{{ forloop.counter }}"
                                    name="choice"
                                    value="{{ choice.description }}"
                                    required
                                >
                                <label for="{{ forloop.counter }}"
                                       class="formatted_wrap">{{ choice.description }}</label>
                                <br>
                            {% empty %}
                                <p class="inline">
                                    No choices available. Please contact the administrator. This shouldn't happen.
                                </p>
                            {% endfor %}
                            <hr>
                            <label for="number"><h5>Amount</h5></label>
                            <input
                                type="number"
                                id="placed"
                                name="placed"
                                min="0"
                                placeholder="Amount"
                                required
                            >
                            <button primary full>Bet</button>
                        </form>
                    </div>
                    <div col="1/2" class="border_left absolute_fill">
                        <h2 xx class="centered">Resolve Bet</h2>
                        <form
                            action="{% url 'bets:resolve_bet' choice_bet.prim_key %}"
                            method="post"
                            id="resolve_form"
                        >
                            {% csrf_token %}
                            <h5>Available Choices</h5>
                            {% for choice in choice_bet.choice_set.all %}
                                <input
                                    type="radio"
                                    id="{{ forloop.counter }}"
                                    name="choice"
                                    value="{{ choice }}"
                                >
                                <label for="{{ forloop.counter }}" class="formatted_wrap">{{ choice }}</label>
                                <br>
                            {% empty %}
                                <p class="inline">
                                    No choices available. Please contact the administrator. This shouldn't happen.
                                </p>
                            {% endfor %}
                            <hr>
                        </form>
                        <button
                            xx
                            class="absolute_bottom"
                            primary
                            full
                            name="resolve"
                            value="resolve"
                            form="resolve_form"
                            onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                        >
                            Resolve
                        </button>
                    </div>
                </grid>
            </card>
        {% elif user_can_place_bet and choice_bet.owner != user.profile and not choice_bet.winning_choice %}
            <card>
                <h2 xx class="centered">Place Bet</h2>
                <form action="{% url 'bets:place_bet' choice_bet.prim_key %}" method="post">
                    {% csrf_token %}
                    <h5>Available choices</h5>
                    {% for choice in choice_bet.choice_set.all %}
                        <input
                            type="radio"
                            id="{{ forloop.counter }}"
                            name="choice"
                            value="{{ choice.description }}"
                            required
                        >
                        <label for="{{ forloop.counter }}" class="formatted_wrap">{{ choice.description }}</label>
                        <br>
                    {% empty %}
                        <p class="inline">
                            No choices available. Please contact the administrator. This shouldn't happen.
                        </p>
                    {% endfor %}
                    <hr>
                    <label for="number"><h5>Amount</h5></label>
                    <input
                        type="number"
                        id="placed"
                        name="placed"
                        min="0"
                        placeholder="Amount"
                        required
                    >
                    <button primary full style="bottom: 0;">Bet</button>
                </form>
            </card>
        {% elif not user_can_place_bet and choice_bet.owner == user.profile and choice_bet.winning_choice == None %}
            <card>
                <h2 xx class="centered">Resolve Bet</h2>
                <form action="{% url 'bets:resolve_bet' choice_bet.prim_key %}" method="post">
                    {% csrf_token %}
                    <h5>Available Choices</h5>
                    {% for choice in choice_bet.choice_set.all %}
                        <input
                            type="radio"
                            id="{{ forloop.counter }}"
                            name="choice"
                            value="{{ choice }}"
                        >
                        <label for="{{ forloop.counter }}" class="formatted_wrap">{{ choice }}</label>
                        <br>
                    {% empty %}
                        <p class="inline">
                            No choices available. Please contact the administrator. This shouldn't happen.
                        </p>
                    {% endfor %}
                    <hr>
                    <button
                        primary
                        full
                        name="resolve"
                        value="resolve"
                        onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                    >
                        Resolve
                    </button>
                </form>
            </card>
        {% endif %}
    {% elif date_bet %}
        <card>
            <table xx class="fixed_table">
                <tr>
                    <th>Name</th>
                    <td class="formatted_wrap">{{ date_bet.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="formatted_wrap">{{ date_bet.description }}</td>
                </tr>
                {% if placed_bet %}
                    <tr>
                        <th>Your Choice</th>
                        <td>{{ placed_bet.placed_date }}</td>
                    </tr>
                    <tr>
                        <th>Points placed</th>
                        <td>{{ placed_bet.placed }}</td>
                    </tr>
                {% endif %}
                {% if not date_bet.resolved %}
                    {% if date_bet.time_period_start %}
                        <tr>
                            <th>Period starts on</th>
                            <td>{{ date_bet.time_period_start }}</td>
                        </tr>
                    {% endif %}
                    {% if date_bet.time_period_end %}
                        <tr>
                            <th>Period ends on</th>
                            <td>{{ date_bet.time_period_end }}</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <th>Winning Date</th>
                        <td>{{ date_bet.winning_date }}</td>
                    </tr>
                    <tr>
                        <th>Pot</th>
                        <td>{{ pot_size }}</td>
                    </tr>
                {% endif %}
            </table>
        </card>

        {% if date_bet.owner == user.profile and not date_bet.placeddatebet_set.all %}
            <grid>
                <div col="1/2">
                    <form action="{% url 'bets:edit_date_bet' date_bet.prim_key %}">
                        {% csrf_token %}
                        {% if debug %}
                            <button full>Edit Bet</button>
                        {% else %}
                            <button full disabled dtt="Available Soon&trade;">Edit Bet</button>
                        {% endif %}
                    </form>
                </div>
                <div col="1/2">
                    <form action="{% url 'bets:delete_date_bet' date_bet.prim_key %}" method="post">
                        {% csrf_token %}
                        <button full onclick="return confirm('Are you sure? The bet will get deleted.')">
                            Delete Bet
                        </button>
                    </form>
                </div>
            </grid>
        {% endif %}

        {% if user_can_place_bet and date_bet.owner == user.profile and not date_bet.winning_date %}
            <card>
                <grid>
                    <div col="1/2" class="border_right">
                        <h2 xx class="centered">Place Bet</h2>
                        <form action="{% url 'bets:place_bet' date_bet.prim_key %}" method="post">
                            {% csrf_token %}
                            <label for="date"><h5>Date</h5></label>
                            <input
                                type="date"
                                id="placed"
                                name="date"
                                min="{{ min_date|date:"Y-m-d" }}"
                                max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                                placeholder="Date"
                                required
                            >
                            <label for="number"><h5>Amount</h5></label>
                            <input
                                type="number"
                                id="placed"
                                name="placed"
                                min="0"
                                placeholder="Amount"
                                required
                            >
                            <button primary full>Bet</button>
                        </form>
                    </div>
                    <div col="1/2" class="border_left absolute_fill">
                        <h2 xx class="centered">Resolve Bet</h2>
                        <form
                            action="{% url 'bets:resolve_bet' date_bet.prim_key %}"
                            method="post"
                            id="resolve_form"
                        >
                            {% csrf_token %}
                            <label for="date"><h5>Winning Date</h5></label>
                            <input
                                type="date"
                                id="{{ forloop.counter }}"
                                name="date"
                                value="{{ date }}"
                                min="{{ date_bet.time_period_start|date:"Y-m-d" }}"
                                max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                            >
                        </form>
                        <button
                            xx
                            class="absolute_bottom"
                            primary
                            full
                            name="resolve"
                            value="resolve"
                            form="resolve_form"
                            onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                        >
                            Resolve
                        </button>
                    </div>
                </grid>
            </card>
        {% elif user_can_place_bet and not date_bet.owner == user.profile and not date_bet.winning_date %}
            <card>
                <h2 xx class="centered">Place Bet</h2>
                <form action="{% url 'bets:place_bet' date_bet.prim_key %}" method="post">
                    {% csrf_token %}
                    <label for="date"><h5>Date</h5></label>
                    <input
                        type="date"
                        id="placed"
                        name="date"
                        min="{{ date_bet.time_period_start|date:"Y-m-d" }}"
                        max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                        placeholder="Date"
                        required
                    >
                    <label for="number"><h5>Amount</h5></label>
                    <input
                        type="number"
                        id="placed"
                        name="placed"
                        min="0"
                        placeholder="Amount"
                        required
                    >
                    <button primary full>Bet</button>
                </form>
            </card>
        {% elif not user_can_place_bet and date_bet.owner == user.profile and not date_bet.winning_date %}
            <card>
                <h2 xx class="centered">Resolve Bet</h2>
                <form action="{% url 'bets:resolve_bet' date_bet.prim_key %}" method="post">
                    {% csrf_token %}
                    <label for="date"><h5>Winning Date</h5></label>
                    <input
                        type="date"
                        id="{{ forloop.counter }}"
                        name="date"
                        value="{{ date }}"
                        min="{{ date_bet.time_period_start|date:"Y-m-d" }}"
                        max="{{ date_bet.time_period_end|date:"Y-m-d" }}"
                    >
                    <label for="{{ forloop.counter }}">{{ date }}</label>
                    <button
                        primary
                        full
                        name="resolve"
                        value="resolve"
                        onclick="return confirm('Are you sure? The bet will be closed and the pot will be distributed.')"
                    >
                        Resolve
                    </button>
                </form>
            </card>
        {% endif %}
    {% endif %}
{% endblock %}
