{% extends 'the_platform/base.html' %}
{% load staticfiles %}
{% load get_range %}

{% block title %}
    Create Choice Bet | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                {% if user.is_superuser %}
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}#unresolved_feedback">Unresolved Feedback</a>
                    </menuitem>
                {% endif %}
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#transactions">Transactions</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#resolved_bets">Resolved Bets</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <script src="{% static 'js/add_choice.js' %}"></script>

    <form action="{% url 'bets:create_choice_bet' %}" method="post">
        {% csrf_token %}
        <card>
            <h2 xx class="centered">Create Choice Bet</h2>
            <table id="choice_bet_table">
                {{ form.as_table }}
                {% for choice_number in 2|get_range %}
                    <tr>
                        <th>
                            <label
                                for="id_choice_{{ choice_number|add:"1" }}">Choice {{ choice_number|add:"1" }}:</label>
                        </th>
                        <td>
                            <input
                                id="id_choice_{{ choice_number|add:"1" }}"
                                maxlength="64"
                                name="choice_{{ choice_number|add:"1" }}"
                                type="text"
                                required
                                placeholder="Use distinct and non empty descriptions."
                            >
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </card>

        <grid>
            <div col="1/2">
                <button full type="button" onclick="addChoice()">Add another choice</button>
            </div>
            <div col="1/2">
                <button primary full>Create Bet</button>
            </div>
        </grid>
    </form>
{% endblock %}
