{% extends 'the_platform/base.html' %}
{% load staticfiles %}
{% load get_range %}

{% block title %}
    Create Choice Bet | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <script src="{% static 'js/add_choice.js' %}"></script>

    <form action="{% url 'bets:create_choice_bet' %}" method="post">
        {% csrf_token %}
        <table id="choice_bet_table">
            {{ form.as_table }}
            {% for choice_number in 2|get_range %}
                <tr>
                    <th>
                        <label for="id_choice_{{ choice_number|add:"1" }}">Choice {{ choice_number|add:"1" }}:</label>
                    </th>
                    <td>
                        <input
                            id="id_choice_{{ choice_number|add:"1" }}"
                            maxlength="64"
                            name="choice_{{ choice_number|add:"1" }}"
                            type="text"
                            required
                            pattern="[a-zA-Z0-9]+"
                            oninvalid="setCustomValidity('Required. Please only use letters and/or numbers.')"
                            onchange="try{setCustomValidity('')}catch(e){}"
                        >
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button m-full type="button" onclick="addChoice()">Add another choice</button>

        <button m-full>Create Bet</button>
    </form>
{% endblock %}
