{% extends 'the_platform/base.html' %}

{% block title %}
    Create Date Bet | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                {% if user.is_superuser %}
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}#unresolved_feedback">Unresolved Feedback</a>
                    </menuitem>
                {% endif %}
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#transactions">Transactions</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#resolved_bets">Resolved Bets</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form action="{% url 'bets:create_date_bet' %}" method="post">
        {% csrf_token %}
        <card>
            <h2 xx class="centered">Create Date Bet</h2>
            <table>
                {{ form.as_table }}
            </table>
        </card>

        <button primary full>Create Bet</button>
    </form>
{% endblock %}
