{% extends 'the_platform/base.html' %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                {% if user.is_superuser %}
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}#unresolved_feedback">Unresolved Feedback</a>
                    </menuitem>
                {% endif %}
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#transactions">Transactions</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#resolved_bets">Resolved Bets</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <grid>
        <div col="1/2" class="border_right">
            <h2 xx class="centered">Available Choice Bets</h2>
            {% for choice_bet in choice_bets %}
                <a class="card_link" href="{% url 'bets:bet' choice_bet.prim_key %}">
                    <card>
                        <h5>{{ choice_bet.name }}</h5>
                        <hr>
                        <grid>
                            <div col="1/2" class="border_right">
                                <p>{{ choice_bet.description }}</p>
                            </div>
                            <div col="1/2" class="border_left">
                                <p class="inline">Available choices</p>
                                <ul>
                                    {% for choice in choice_bet.choice_set.all %}
                                        <li>{{ choice.description }}</li>
                                    {% empty %}
                                        <li>No choices are available</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </grid>
                    </card>
                </a>
            {% empty %}
                <h5 xx class="centered">No choice bets have been created yet</h5>
            {% endfor %}

            <hr>

            <h2 xx class="centered">Available Date Bets</h2>
            {% for date_bet in date_bets %}
                <a class="card_link" href="{% url 'bets:bet' date_bet.prim_key %}">
                    <card>
                        <h5>{{ date_bet.name }}</h5>
                        <hr>
                        <grid>
                            <div col="1/2" class="border_right">
                                <p>{{ date_bet.description }}</p>
                            </div>
                            <div col="1/2" class="border_left">
                                {% if date_bet.time_period_start and time_period_end %}
                                    <p>Time period start: {{ date_bet.time_period_start }}</p>
                                    <p>Time period end: {{ date_bet.time_period_end }}</p>
                                {% elif date_bet.time_period_start and not time_period_end %}
                                    <p>Time period start: {{ date_bet.time_period_start }}</p>
                                {% elif not date_bet.time_period_start and time_period_end %}
                                    <p>Time period end: {{ date_bet.time_period_end }}</p>
                                {% else %}
                                    <p>No time period was specified.</p>
                                {% endif %}
                            </div>
                        </grid>
                    </card>
                </a>
            {% empty %}
                <h5 xx class="centered">No date bets have been created yet</h5>
            {% endfor %}
        </div>

        <div col="1/2" class="border_left">
            <h2 xx class="centered">Placed Choice Bets</h2>
            {% for placed_choice_bet in placed_choice_bets %}
                <a class="card_link" href="{% url 'bets:bet' placed_choice_bet.placed_on.prim_key %}">
                    <card>
                        <h5>{{ placed_choice_bet.placed_on.name }}</h5>
                        <hr>
                        <grid>
                            <div col="1/2" class="border_right">
                                <p>Placed points: {{ placed_choice_bet.placed }}</p>
                            </div>
                            <div col="1/2" class="border_left">
                                <p>Placed Choice: {{ placed_choice_bet.chosen.description }}</p>
                            </div>
                        </grid>
                    </card>
                </a>
            {% empty %}
                <h5 xx class="centered">You haven't placed on a Choice Bet yet</h5>
            {% endfor %}

            <hr>

            <h2 xx class="centered">Placed Date Bets</h2>
            {% for placed_date_bet in placed_date_bets %}
                <a class="card_link" href="{% url 'bets:bet' placed_date_bet.placed_on.prim_key %}">
                    <card>
                        <h5>{{ placed_date_bet.placed_on.name }}</h5>
                        <hr>
                        <grid>
                            <div col="1/2" class="border_right">
                                <p>Placed points: {{ placed_date_bet.placed }}</p>
                            </div>
                            <div col="1/2" class="border_left">
                                <p>Placed date: {{ placed_date_bet.placed_date }}</p>
                            </div>
                        </grid>
                    </card>
                </a>
            {% empty %}
                <h5 xx class="centered">You haven't placed on a Date Bet yet</h5>
            {% endfor %}
        </div>
    </grid>
{% endblock %}
