{% extends 'the_platform/base.html' %}

{% block title %}
    Feedback | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <card>
        <form action="{% url 'profiles:feedback' %}" method="POST">
            {% csrf_token %}
            <h2>Feedback</h2>
            {{ form.feedback }}
            <button m-full>Send Feedback</button>
        </form>
    </card>

    <card>
        <h2>Sent Feedback</h2>
        <table>
            <thead>
            <tr>
                <th>Feedback</th>
                <th>Resolved</th>
            </tr>
            </thead>
            <tbody>
            {% for feedback in user.feedback_set.all %}
                <tr>
                    <td class="formatted_wrap" width="90%">{{ feedback.feedback }}</td>
                    <td width="10%">{{ feedback.resolved }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>
{% endblock %}
