{% extends 'the_platform/base.html' %}

{% block title %}
    Feedback | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a href="{% url 'profiles:feedback' %}">Feedback</a>
        </li>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                {% if user.is_superuser %}
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}#unresolved_feedback">Unresolved Feedback</a>
                    </menuitem>
                {% endif %}
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#transactions">Transactions</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}#resolved_bets">Resolved Bets</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <card>
        <form action="{% url 'profiles:feedback' %}" method="POST">
            {% csrf_token %}
            <h2 xx class="centered">Feedback</h2>
            {{ form.feedback }}
            <button primary full>Send Feedback</button>
        </form>
    </card>
    <hr>
    <grid>
        <div col="1/2" class="border_right">
            <h2 xx class="centered">Unresolved Feedback</h2>
            {% if unresolved_feedback %}
                {% for entry in unresolved_feedback %}
                    <card>
                        <p class="formatted_wrap">{{ entry.feedback }}</p>
                    </card>
                {% endfor %}
            {% else %}
                <h5 xx class="centered">No unresolved feedback is available</h5>
            {% endif %}
        </div>
        <div col="1/2" class="border_left">
            <h2 xx class="centered">Resolved Feedback</h2>
            {% if resolved_feedback %}
                {% for entry in resolved_feedback %}
                    <card>
                        <p class="formatted_wrap">{{ entry.feedback }}</p>
                    </card>
                {% endfor %}
            {% else %}
                <h5 xx class="centered">No resolved feedback is available</h5>
            {% endif %}
        </div>
    </grid>
{% endblock %}
