{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | General Terms And Conditions
{% endblock %}

{% block profile_name %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    <h1>Nutzungsbedingungen und Allgemeine Geschäftsbedingungen</h1>

    <h3>Inhaltsverzeichnis</h3>

    <ol>
        <li><a href="#präambel">Präambel</a></li>
        <li><a href="#geltungsbereich">Geltungsbereich</a></li>
        <li><a href="#rechtswahl">Rechtswahl, Erfüllungsort und Gerichtsstand</a></li>
        <li><a href="#teilnahme">Teilnahmebedingung und Vertragsschluss</a></li>
        <li><a href="#leistungsumfang">Leistungsumfang</a></li>
        <li><a href="#nutzungsbeschränkung">Nutzungsbeschränkung</a></li>
        <li><a href="#kündigung">Kündigung</a></li>
        <li><a href="#punktetransfers">Punktetransfers</a></li>
        <li><a href="#gewinnbedingungen">Gewinnbedingungen und Einsätze</a></li>
        <li><a href="#kontoverifikation">Kontoverifikation</a></li>
        <li><a href="#sonstige">Sonstige Vereinbarungen</a></li>
    </ol>

    <h3><a name="präambel">Präambel</a></h3>

    <ol>
        <li>Bad Bat Bets (Betreiber<sup><a href="#synonym">1</a></sup>) ist Betreiber der Internetplattform
            bad-bat-bets.de<sup><a href="#web">2</a></sup> (Internetplattform) und der dort angebotenen
            Glücksspiele<sup><a href="#glücksspiele">3</a></sup>.
        </li>
        <li>Die Bahnhofstraße 33a, 35037 Marburg<sup><a href="#adresse">4</a></sup> (Hauptzentrale) ist der feste Sitz
            des Betreibers.
        </li>
    </ol>

    <h3><a name="geltungsbereich">Geltungsbereich</a></h3>

    <ol>
        <li>Die vorliegenden Allgemeinen Geschäftsbedingungen (AGB) des Betreibers gelten für alle zwischen dem
            Betreiber und dem Nutzer dieser Internetplattform und der dort angebotenen Inhalte und Dienstleistungen
            (Spieler) abgeschlossenen Verträge.
            <ol>
                <li>Die AGB umfassen auch die Inhalte, die der Betreiber und der Spieler im Zusammenhang mit dieser
                    Internetplattform erstellt, zur Verfügung stellt und/oder versendet.
                </li>
                <li>Die AGB umfassen auch die Modalitäten zur Ein- und Auszahlung von Punkten durch den Spieler und den
                    Betreiber.
                </li>
            </ol>
        </li>
        <li>Der Spieler akzeptiert mit seiner Nutzung die vorliegenden AGB in der jeweils gültigen Fassung zum Zeitpunkt
            der Nutzung.
        </li>
        <li>Entgegenstehende oder von diesen AGB abweichende Bedingungen des Nutzers erkennt der Betreiber nicht an,
            soweit er ihrer Geltung nicht ausdrücklich schriftlich zugestimmt hat.
        </li>
    </ol>

    <h3><a name="rechtswahl">Rechtswahl, Erfüllungsort und Gerichtsstand</a></h3>

    <ol>
        <li>Die Rechte und Pflichten der Vertragsparteien regeln sich ausschließlich nach dem in der Bundesrepublik
            Deutschland geltendem Recht.
        </li>
        <li>Spieler dürfen ausschließlich natürliche Personen sein (<a href="https://dejure.org/gesetze/BGB/1.html">BGB
            §1</a>).
        </li>
        <li>Für sämtliche Streitigkeiten ist die Hauptzentrale als Gerichtsstand und Erfüllungsort vereinbart.</li>
    </ol>

    <h3><a name="teilnahme">Teilnahmebedingung und Vertragsschluss</a></h3>

    <ol>
        <li>Ein Vertrag kommt zwischen den Parteien dadurch zustande, dass der Spieler sich auf der Internetplattform
            anmeldet und die angebotenen Inhalte und Dienstleistungen nutzt.
        </li>
        <li>Jeder Spieler darf sich nur einmal auf dieser Internetplattform anmelden. Dabei gilt die Einzigartigkeit der
            E-Mail Adresse sowie die Anschrift des Spielers.<sup><a href="#einzigartigkeit">5</a></sup> Spieler, die
            mehrere Spielekonten eröffnen (bspw. um eventuelle Bonusse mehrfach zu erhalten) werden gesperrt. Eventuelle
            Gewinne und Bonusse werden vom Betreiber einbehalten.
        </li>
        <li>Der Spieler muss bei der Anmeldung und Nutzung der Spiele auf der Internetplattform im eigenen Namen und auf
            eigene Rechnung handeln. Der Name wird bei Spielen nicht öffentlich angezeigt.<sup><a
                href="#datenschutz">6</a></sup></li>
        <li>Der Spieler ist verpflichtet, alle Angaben zur Anmeldung und Nutzung der Internetplattform des Betreibers
            ordnungsgemäß, insbesondere wahrheitsgemäß und vollständig, zu erteilen.
        </li>
        <li>Eine Teilnahme an Spielen darf ausschließlich durch Spieler erfolgen, an deren Wohnsitz nach der dort
            geltenden Rechtslage die Durchführung von Online-Glücksspielen mit Gewinnmöglichkeiten erlaubt ist. Dort, wo
            nach der geltenden Rechtslage die Durchführung von Online-Glücksspielen mit Gewinnmöglichkeit nicht erlaubt
            ist, ist eine Teilnahme an Online-Glücksspielen untersagt. In diesen Fällen liegt illegales Glücksspiel vor.
            Für alle Bundesländer, mit Ausnahme von Schleswig-Holstein besteht gegenwärtig keine Konzession für das
            Online-Glücksspiel. Die Teilnahme am Glücksspiel ist Spielern mit Wohnsitz in diesen Bundesländern
            untersagt. Spieler, die sich von diesen Bundesländern aus am Online-Glücksspiel beteiligen, betreiben
            illegales Glücksspiel.<sup><a href="#recht">7</a></sup></li>
        <li>Eine Teilnahme an den Spielen ist nur für Spieler erlaubt, die das 18. Lebensjahr bzw. das nach der
            geltenden Rechtslage am Wohnsitz des Spielers für die Teilnahme vorgeschriebene Mindestalter vollendet
            haben.
        </li>
        <li>Der Betreiber kann den Zugang bestimmter Spieler zu bestimmten Dienstleistungen und Inhalten beschränken
            oder an zusätzliche Bedingungen knüpfen. Ein Spieler hat keinen Anspruch an der Teilnahme an Spielen.<sup><a
                href="#teilnahme">8</a></sup></li>
        <li>ämtliche Ein- und Auszahlungen dürfen ausschließlich zum Zwecke der Teilnahme an den Spielen erfolgen und
            nicht gegen gesetzliche Bestimmungen verstoßen (bspw. Punktewäsche, Verschleierung unrechtmäßig erlangter
            Vermögenswerte u.a.).
        </li>
        <li>Soweit der Spieler Dateien, Texte o.ä. auf die Internetplattform des Betreibers überträgt, räumt er dem
            Betreiber hieran ein unentgeltliches Nutzungsrecht ein. Durch den Spieler wird garantiert, dass durch die
            übertragenen Dateien, Texte o.ä. keine Urheberrechte Dritter verletzt werden.
        </li>
        <li>Der Betreiber hat das Recht, bei einem festgestellten Missbrauchsfall einen Spieler von der Teilnahme
            auszuschließen.
        </li>
        <li>Der Betreiber behält sich das Recht vor, nach eigenem Ermessen mit sofortiger Wirkung und ohne
            Vorankündigung beliebige Services einzustellen, zu modifizieren, zu entfernen und/oder hinzuzufügen. Der
            Betreiber ist für derartige Aktionen nicht haftbar zu machen.<sup><a
                href="#haftbarkeitsausschlüsse">9</a></sup></li>
    </ol>

    <h3><a name="leistungsumfang">Leistungsumfang</a></h3>

    <ol>
        <li>Der Umfang der vom Betreiber im Einzelnen geschuldeten Leistungen ergibt sich aus dem jeweiligen Angebot und
            diesen Vertragsbedingungen.
        </li>
        <li>Die auf der Internetplattform angebotenen Dienstleistungen und Inhalte werden im angemessenen und zumutbaren
            Umfang des aktuellen Stands der Technik zur Verfügung gestellt.
        </li>
        <li>Durch den Betreiber wird keine Gewähr für eine ständige Verfügbarkeit, fehlerfreie Funktion der
            Dienstleistungen und Inhalte oder Richtigkeit der Informationen auf der Internetplattform übernommen. Dies
            gilt insbesondere für technische Einrichtungen des Internets unabhängig von der Internetplattform des
            Betreibers.
        </li>
        <li>Der Spieler trägt die alleinige Verantwortung für sein genutztes technisches Gerät für den Zugang zum
            Internet und für die Verwendung der Internetplattform des Betreibers.
        </li>
    </ol>

    <h3><a name="nutzungsbeschränkung">Nutzungsbeschränkung</a></h3>

    <ol>
        <li>Es ist untersagt, für die Teilnahme an Spielen Computerprogramme (sog. Robots oder Bots) zu verwenden, die
            erforderlichen Handlungen des Spielers ersetzen, Profile von den Spielen oder anderen Spielern der
            Internetplattform erstellen oder die Spiele auf der Internetplattform des Betreibers in irgendeiner Form
            (insb. zum Zweck eines Betrugs) unerlaubt beeinflussen. Der Betreiber ist per Gesetz verpflichtet jedwede
            Zuwiderhandlung der Aufsichtsbehörde unter Angabe des Nutzerkontos und Spielerdaten zur Anzeige zu bringen
            sowie das Spielerkonto sofort zu sperren. Eventuelle Kontoguthaben, Gewinne und Bonusse werden vom Betreiber
            einbehalten.
        </li>
        <li>Darüber hinaus ist untersagt, das vom Betreiber verwendete Programm von Maschinensprache wieder in lesbaren
            Quellcode umzuwandeln (dekompilieren) oder nachzukonstruieren (Reverse Engineering).
        </li>
        <li>Spieler der Internetplattform dürfen nicht mit anderen Spielern zusammen agieren.</li>
        <li>Spieler dürfen sich nicht durch andere, insbesondere nicht durch mehrere Personen ersetzen lassen.</li>
        <li>Durch den Spieler dürfen keine Fehlfunktionen oder Störungen der Internetplattform verursacht und der
            gewöhnliche Ablauf eines Spiels nicht regelwidrig beeinflusst werden.
        </li>
    </ol>

    <h3><a name="kündigung">Kündigung</a></h3>

    <ol>
        <li>Beide Vertragspartner können den Vertrag jederzeit mit sofortiger Wirkung und ohne Angabe von
            Gründen kündigen.<sup><a href="#sofortige_kündigung">10</a></sup></li>
        <li>Unabhängig von einer Kündigung hat der Betreiber das Recht, einen Spieler von der weiteren Teilnahme an
            Spielen auszuschließen.
        </li>
    </ol>

    <h3><a name="punktetransfers">Punktetransfers</a></h3>

    <ol>
        <li>Die Zahlungsabwicklung mit Zahlungssystemen die keine ausweisbasierende Identifizierung und
            Authentifizierung der Spielerinnen und Spieler ermöglichen, ist nicht zulässig.<sup><a
                href="#zulässige_zahlungsformen">11</a></sup>
        </li>
        <li>Alle Einzahlvorgänge werden automatisch gemäß der strengen Punktewäschegesetze geprüft. Erst nach
            erfolgreicher Prüfung ohne Beanstandungen wird das Guthaben dem Spielerkonto gutgeschrieben. In der Regel
            wird diese Prüfung innerhalb weniger Minuten abgeschlossen, bitte beachten Sie jedoch, dass es bei
            Einzahlungen zwischen 23 Uhr und 7 Uhr sowie abseits der Werktage zu Verzögerungen kommen kann.<sup><a
                href="#werktage">12</a></sup></li>
        <li>Die vom Spieler an den Betreiber überwiesenen Punktebeträge werden in dessen Spielerkonto gutgeschrieben.
        </li>
        <li>Das Spielerkonto besteht aus den Bereichen ''verfügbares Guthaben'' und ''Vormerkungen''. Im Bereich
            ''Vormerkungen'' sind die Beträge enthalten, die bereits verwendet wurden (Spieleinsätze,
            Abhebungsanforderungen etc.) und dem Spieler nicht mehr zur Verfügung stehen. Im Bereich ''verfügbares
            Guthaben'' sind die Beträge enthalten, die dem Spieler für die Teilnahme an Spielen zur Verfügung stehen.
        </li>
        <li>Der Spieler kann vom Betreiber jederzeit nach den vorliegenden Vereinbarungen die Auszahlung seines
            verfügbaren Guthabens verlangen.<sup><a href="#auszahlung">13</a></sup></li>
        <li>Die angeforderte Auszahlung wird auf dem Zahlungsweg, auf dem auch die Einzahlung des Spielers geschehen
            ist, ausgeführt.
        </li>
        <li>Wenn der Zahlungsweg mit dem der Spieler eingezahlt hat, keine Rückbuchungen akzeptiert bzw. aus irgendeinem
            Grund nicht funktioniert, werden die angeforderten Auszahlungen auf einen Zahlungsweg transferiert, den der
            Spieler bereits in der Vergangenheit genutzt hat, oder auf einem Zahlungsweg, den der Betreiber mit dem
            Spieler vereinbart hat. In besonderen Fällen behält sich der Betreiber vor, eine Auszahlung über einen
            anderen Zahlungsweg abzuwickeln, als vom Spieler gewünscht.
        </li>
        <li>Auszahlungen von Gewinnen per Überweisungen müssen mindestens x<sup><a href="#x">14</a></sup> Punkte
            betragen.
        </li>
        <li>Der maximal auszahlbare Betrag beträgt y<sup><a href="#y">15</a></sup> Punkte pro Tag, sofern nicht anders
            mit dem Betreiber vereinbart. Sofern ein höherer Betrag zur Auszahlung angefordert wird, unterliegt dieser
            einer besonderenPrüfung.
        </li>
        <li>Der Betreiber behält sich für eine Auszahlung eine Bearbeitungszeit von bis zu drei Werktagen ab dem
            Zeitpunkt des Vorliegens aller zur Auszahlung erforderlichen Dokumente und Informationen vor.
        </li>
        <li>Eine Einzahlung kann vom Spieler widerrufen werden, sofern keine Einsätze nach der Einzahlung getätigt
            wurden.
        </li>
    </ol>

    <h3><a name="gewinnbedingungen">Gewinnbedingungen und Einsätze</a></h3>

    <ol>
        <li>Alle Einsätze, Gewinne sowie das aktuelles Guthaben eines Spielers werden in Punkten angezeigt.</li>
        <li>Die vom Spieler bei einem Spiel getätigten Einsätze werden vom verfügbaren Guthaben des Spielerkontos
            abgezogen.
        </li>
        <li>Die vom Spieler bei einem Spiel erzielten Gewinne werden nach Beendigung des Spiels auf dessen Spielerkonto
            gutgeschrieben.
        </li>
        <li>Der Betreiber behält sich vor, Gewinne und Bonuszahlungen zu widerrufen, falls der eingezahlte Betrag
            storniert bzw. zurückgebucht wurde.
        </li>
    </ol>

    <h3><a name="kontoverifikation">Kontoverifikation</a></h3>

    <p>Der Betreiber behält sich vor, jederzeit und aus verschiedenen Gründen (z.B. Zahlungsdienste, Jugendschutz,
        Betrugsprävention) die Identität des Spielers zu überprüfen. Der Spieler wird dann aufgefordert, seine Identität
        anhand einer Kopie seines amtlichen und gültigen Personalausweises oder Reisepasses nachzuweisen. Lediglich
        ergänzend zur Kopie einer der eben genannten Ausweisdokumente kann vom Spieler zur weiteren Überprüfung seiner
        Identität die Vorlage einer Kopie folgender Dokumente verlangt werden:</p>

    <ol>
        <li>Führerschein</li>
        <li>[...]<sup><a href="#dokumente">16</a></sup></li>
    </ol>

    <h3><a name="sonstige">Sonstige Vereinbarungen</a></h3>

    <ol>
        <li>Die vorliegenden Vertragsbedingungen bleiben auch bei Unwirksamkeit einzelner oder mehrerer Bestimmungen in
            ihren übrigen Teilen verbindlich. Unwirksame Bestimmungen sind durch Regelungen zu ersetzen, die dem Sinn
            und Zweck der unwirksamen Regelung in rechtswirksamer Weise am nächsten kommen.
        </li>
        <li>Der Spieler akzeptiert die Weitergabe und Verwendung seiner Kontaktdaten innerhalb des
            Unternehmensnetzwerkes des Betreibers zur Sicherstellung erweiterter Funktionen und (der Erfüllung) des
            allgemeinen Spielbetriebes. Eine Weitergabe in Drittländer ist ausgeschlossen.
        </li>
        <li>Der Betreiber hat das Recht, die allgemeinen Geschäftsbedingungen jederzeit und ohne Vorankündigung zu
            ändern. Mit jeder Änderung verlieren die vorausgegangenen Bedingungen sofort ihre Gültigkeit. Der Spieler
            erkennt durch die weitere Nutzung der Dienstleistungen auf der Internetplattform die neuen AGB an. Soweit
            ein Spieler die jeweils neuen AGB nicht akzeptiert, ist eine weitere Nutzung der Dienstleistungen auf der
            Internetplattform ausgeschlossen und der Betreiber kann das Vertragsverhältnis fristlos kündigen.
        </li>
    </ol>

    <h3>TODO</h3>

    <ol>
        <li><a name="synonym">Synonyme durch ''im Folgenden SYNONYM'' ersetzen?</a></li>
        <li><a name="web">Seite ändern</a></li>
        <li><a name="glücksspiele">Legalität klären</a></li>
        <li><a name="adresse">Adresse ändern</a></li>
        <li><a name="einzigartigkeit">Einzigartigkeit klären</a></li>
        <li><a name="datenschutz">Datenschutzerklärung erstellen</a></li>
        <li><a name="recht">Juristische Lage klären (besonders Regelmäßigkeit)</a></li>
        <li><a name="teilnahme">Anspruch an Teilnahme erläutern (forbidden users)</a></li>
        <li><a name="haftbarkeitsausschlüsse">Mehr Haftbarkeitsausschlüsse hinzufügen?</a></li>
        <li><a name="sofortige_kündigung">Laufende Spiele und/oder Punktetransfers beachten</a></li>
        <li><a name="zulässige_zahlungsformen">Zulässig sind Zahlungen in Form [...]</a></li>
        <li><a name="werktage">Werktag definieren</a></li>
        <li><a name="auszahlung">Auszahlung limitieren (laufende Spiele, usw.)</a></li>
        <li><a name="x">x definieren</a></li>
        <li><a name="y">y definieren</a></li>
        <li><a name="dokumente">Weitere Dokumente hinzufügen</a></li>
    </ol>

    {% if not request.user.profile.accepted_general_terms_and_conditions %}
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div style="text-align: center">
                <input type="submit" name="agb" value="agree to agb">
            </div>
        </form>
    {% endif %}
{% endblock %}
