{% extends 'the_platform/base.html' %}

{% block title %}
    Login | {{ block.super }}
{% endblock %}

{% if request.user.is_authenticated %}
    {% block links %}
        <ul>
            <li>
                <a>Create Bet</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                    </menuitem>
                </menu>
            </li>
            <li>
                <a>{{ request.user.profile }}</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}">Profile</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'profiles:logout' %}">Logout</a>
                    </menuitem>
                </menu>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    {% if form %}
        <form action="{% url 'profiles:login' %}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div id="error" onclick='this.parentNode.removeChild(this); return false;'>
                        <grid>
                            <div col="1/6" class="border_right">
                                <strong>ERROR</strong>
                            </div>
                            <div col="5/6">
                                <strong>{{ error }}</strong>
                            </div>
                        </grid>
                    </div>
                {% endfor %}
            {% endif %}

            <table>
                {{ form.as_table }}
            </table>

            <button m-full type="submit">Login</button>
        </form>
    {% endif %}
{% endblock %}
