{% extends 'the_platform/base.html' %}

{% block login %}
    Login
{% endblock %}

{% block content %}
    <section>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        {% if message %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Login">
        </form>
    </section>
{% endblock %}
