{% extends 'the_platform/base.html' %}

{% block title %}
    Payment | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li>
            <a>Create Bet</a>
            <menu>
                <menuitem>
                    <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                </menuitem>
            </menu>
        </li>
        <li>
            <a>{{ user.profile }}</a>
            <menu>
                <menuitem>
                    <a href="{% url 'profiles:profile' %}">Profile</a>
                </menuitem>
                <menuitem>
                    <a href="{% url 'profiles:logout' %}">Logout</a>
                </menuitem>
            </menu>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form action="{% url 'profiles:payment' %}" method="POST">
        {% csrf_token %}
        <card>
            <h2 xx class="centered">Execute Transaction</h2>
            <table>
                {{ form.as_table }}
            </table>
        </card>
        <button primary full>Submit</button>
    </form>
{% endblock %}
