{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | Privacy policy
{% endblock %}

{% block profile_name %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    <h1>Datenschutzerklärung</h1>

    <p>Vielen Dank für Ihr Interesse an unserem Onlineauftritt. Der Schutz Ihrer persönlichen Daten liegt uns sehr am
        Herzen. An dieser Stelle möchten wir Sie daher über den Datenschutz in unserem Unternehmen informieren.
        Selbstverständlich beachten wir die gesetzlichen Bestimmungen des Datenschutzgesetzes (BDSG) des
        Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen.</p>

    <p>Bei Ihren persönlichen Daten können Sie uns vertrauen! Sie werden durch digitale Sicherheitssysteme verschlüsselt
        und an uns übertragen. Unsere Webseiten sind durch technische Maßnahmen gegen Beschädigungen, Zerstörung oder
        unberechtigten Zugriff geschützt.</p>

    <h3>Gegenstand des Datenschutzes</h3>

    <p>Gegenstand des Datenschutzes sind personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über
        persönlich oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen
        z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer, ggf. aber auch Nutzungsdaten wie Ihre
        IP-Adresse.</p>

    <h3>Allgemeiner Datenschutzhinweis</h3>

    <ol>
        <li>Wenn Sie auf den Internet-Auftritt von Bad Bat Bets aufrufen oder Daten von diesen Seiten herunterladen,
            werden hierüber Informationen von uns in einer Protokolldatei gespeichert und verarbeitet. Dieser Vorgang
            erfolgt anonymisiert. Rückschlüsse auf Ihre Person sind nicht möglich.
        </li>
        <li>Gespeichert werden: Ihre IP-Adresse, das Datum und die Uhrzeit des Seitenaufrufs, die aufgerufene Seite bzw.
            der Name der abgerufenen Datei, die übertragene Datenmenge und die Meldung, ob der Zugriff/Abruf erfolgreich
            war.
        </li>
        <li>Diese Daten werden nicht zu kommerziellen Zwecken genutzt. Die Auswertung dient allein der statistischen
            Aufbereitung und Verbesserung unseres Internet-Angebots. Hierzu werden wir Nutzerprofile mittels eines
            Pseudonyms erstellen. Eine Verbindung zwischen der hinter dem Pseudonym stehenden Person mit den erhobenen
            Nutzungsdaten wird nicht hergestellt. Nach dieser Verwendung erfolgt die Löschung Ihrer Daten. Eine
            dauerhafte Speicherung ist ausgeschlossen. Sie können dieser Datenerhebung, -speicherung und –verarbeitung
            jederzeit widersprechen.
        </li>
        <li>Ihre Daten werden ausschließlich von uns verwendet. Eine Weitergabe an Dritte erfolgt nicht.</li>
        <li>Zur Datenerhebung und Speicherung setzen wir auch sogenannte Cookies ein. Cookies sind kleine Datenpakete,
            die Ihr Browser auf unsere Veranlassung in Ihrem Endgerät speichert. Dort richten sie keinen Schaden an. Sie
            enthalten keine Viren und erlauben uns nicht, Sie auszuspähen. Verwendung finden dabei zwei Arten von
            Cookies. Temporäre Cookies werden mit dem Schließen Ihres Browsers automatisch gelöscht (Session-Cookies).
            Dauerhafte Cookies haben demgegenüber eine maximale Lebensdauer von bis zu<sup><a
                href="#zeitraum">1</a></sup>. Diese Art von Cookies ermöglicht es, dass sie beim Wiederaufruf nach
            Verlassen der Website wiedererkannt werden. Mithilfe der Cookies ist es uns möglich, Ihr Nutzungsverhalten
            zu oben genannten Zwecken und in entsprechendem Umfang nachzuvollziehen. Sie sollen Ihnen außerdem ein
            optimiertes Surfen auf unserer Website ermöglichen. Auch diese Daten erheben wir nur in anonymisierte bzw.
            pseudonomisierter Form.
        </li>
    </ol>

    <h3>Umfang der Datenerhebung und -speicherung</h3>

    <p>Für die Nutzung unserer Internetseite ist es erforderlich, dass Sie personenbezogene Daten angeben. Dies gilt für
        die einmalige Verifikation ihres Nutzerkontos, sowie bei zukünftigen Identifikationsprüfungen (z.B.
        Zahlungsdienste, Jugendschutz, Betrugsprävention).</p>

    <h3>Erhebung und Speicherung von Nutzungsdaten</h3>

    <p>Zur Optimierung unserer Webseite sammeln und speichern wir Daten wie z. B. Datum und Uhrzeit des Seitenaufrufs,
        die Seite, von der Sie unsere Seite aufgerufen haben, und ähnliches. Dies erfolgt anonymisiert, ohne den
        Benutzer der Seite persönlich zu identifizieren. Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt.
        Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden natürlichen Personen mit den
        erhobenen Nutzungsdaten zur Erhebung und Speicherung der Nutzungsdaten setzen wir auch Cookies ein. Dabei
        handelt es sich um kleine Textdateien, die auf Ihrem Computer gespeichert werden und zur Speicherung von
        statistischen Information wie Betriebssystem, Ihrem Internetbenutzungsprogramm (Browser), IP-Adresse, der zuvor
        aufgerufene Webseite (Referrer-URL) und der Uhrzeit dienen. Diese Daten erheben wir ausschließlich, zu
        statistischen Zwecken, um unseren Internetauftritt weiter zu optimieren und unsere Internetangebote noch
        attraktiver gestalten zu können. Die Erhebung und Speicherung erfolgt ausschließlich in anonymisierter oder
        pseudonymisierter Form und lässt keinen Rückschluss auf Sie als natürlich Person zu.</p>

    <h3>Zweckgebundene Datenverwendung</h3>

    <p>Wir beachten den Grundsatz der zweckgebundenen Daten-Verwendung und erheben, verarbeiten und speichern Ihre
        personenbezogenen Daten nur für die Zwecke, für die Sie sie uns mitgeteilt haben. Eine Weitergabe Ihrer
        persönlichen Daten an Dritte erfolgt ohne Ihre ausdrückliche Einwilligung nicht, sofern dies nicht zur
        Erbringung der Dienstleistung oder zur Vertragsdurchführung notwendig ist. Auch die Übermittlung an
        auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen
        Auskunftspflichten oder wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden.</p>

    <p>Auch den unternehmensinternen Datenschutz nehmen wir sehr ernst. Unsere Mitarbeiter und die von uns beauftragten
        Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen
        Bestimmungen verpflichtet worden.</p>

    <h3>Auskunft- und Widerrufsrecht</h3>

    <p>Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten. Sie
        können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder löschen lassen. Auch können Sie
        jederzeit die uns erteilte Einwilligung zur Datenerhebung und Verwendung ohne Angaben von Gründen widerrufen.
        Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse. Wir stehen Ihnen jederzeit gern für
        weitergehende Fragen zu unserem Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur
        Verfügung.</p>

    <h3>TODO</h3>

    <ol>
        <li><a name="zeitraum">Maximalen Zeitraum für Cookies definieren</a></li>
    </ol>

    {% if not request.user.profile.accepted_privacy_policy %}
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div style="text-align: center">
                <input type="submit" name="privacy_policy" value="agree to privacy policy">
            </div>
        </form>
    {% endif %}
{% endblock %}
