{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | {{ user.profile }}
{% endblock %}

{% block profile %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Account Balance</th>
            <td>{{ profile.account.balance }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Credit</th>
            <th>Debit</th>
        </tr>
        <tr>
            {% for credit in profile.account.credit_set.all %}
                <td>{{ credit.transaction }}</td>
                <td>{{ credit.account }}</td>
                <td>{{ credit.amount }}</td>
            {% empty %}
                <td>No credit is available yet</td>
            {% endfor %}

            {% for debit in profile.account.debit_set.all %}
                <td>{{ debit.transaction }}</td>
                <td>{{ debit.account }}</td>
                <td>{{ debit.amount }}</td>
            {% empty %}
                <td>No debit is available yet</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
