{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | {{ user.profile }}
{% endblock %}

{% block profile %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Account Balance</th>
            <td>{{ profile.account.balance }}</td>
        </tr>
    </table>

    <grid>
        <div col="1/2">
            <h2>Credit</h2>
            <table>
                <tr>
                    <th>Transaction</th>
                    <th>Account</th>
                    <th>Amount</th>
                </tr>
                {% for credit in profile.account.credit_set.all %}
                    <tr>
                        <td>{{ credit.transaction }}</td>
                        <td>{{ credit.account }}</td>
                        <td>{{ credit.amount }}</td>
                    </tr>
                {% empty %}
                    <td>No credit is available yet</td>
                {% endfor %}
            </table>
        </div>
        <div col="1/2">
            <h2>Debit</h2>
            <table>
                <tr>
                    <th>Transaction</th>
                    <th>Account</th>
                    <th>Amount</th>
                </tr>
                {% for debit in profile.account.debit_set.all %}
                    <tr>
                        <td>{{ debit.transaction }}</td>
                        <td>{{ debit.account }}</td>
                        <td>{{ debit.amount }}</td>
                    </tr>
                {% empty %}
                    <td>No debit is available yet</td>
                {% endfor %}
            </table>
        </div>
    </grid>
{% endblock %}
