{% extends 'the_platform/base.html' %}

{% block title %}
    Signup | {{ block.super }}
{% endblock %}

{% block links %}
    <ul>
        <li><a href="{% url 'profiles:login' %}">Login</a></li>
        <li> <a href="{% url 'profiles:signup' %}">Signup</a></li>
    </ul>
{% endblock %}

{% block content %}
    <form action="{% url 'profiles:signup' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="checkbox" id="general_terms_and_conditions" name="user_agreement">
        <label for="general_terms_and_conditions">Agree to <a href="{{ url 'profile:general_terms_and_conditions' }}">general terms and conditions</a> </label>

        <button m-full="">Signup</button>
    </form>
{% endblock %}
