{% extends 'the_platform/base.html' %}

{% block title %}
    Signup | {{ block.super }}
{% endblock %}

{% if request.user.is_authenticated %}
    {% block links %}
        <ul>
            <li>
                <a>Create Bet</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                    </menuitem>
                </menu>
            </li>
            <li>
                <a>{{ request.user.profile }}</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}">Profile</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'profiles:logout' %}">Logout</a>
                    </menuitem>
                </menu>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    <form action="{% url 'profiles:signup' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        {# TODO Fix weird input button alignment on different mobile sizes #}
        <grid>
            <div col="5/6">
                <input required type="checkbox" id="general_terms_and_conditions" name="general_terms_and_conditions">
                <label for="general_terms_and_conditions">
                    <p style="display: inline;">
                        Agree to <a href="{% url 'profiles:general_terms_and_conditions' %}" target="_blank">general
                        terms and
                        conditions</a>
                    </p>
                </label>
                <input required type="checkbox" id="privacy_policy" name="privacy_policy">
                <label for="privacy_policy">
                    <p style="display: inline">
                        Agree to <a href="{% url 'profiles:privacy_policy' %}" target="_blank">privacy policy</a>
                    </p>
                </label>
            </div>
            <div col="1/6">
                <button m-full="">Signup</button>
            </div>
        </grid>
    </form>
{% endblock %}
