{% extends 'the_platform/base.html' %}

{% block title %}
    Signup | {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'profiles:signup' %}" method="post">
        {% csrf_token %}
        <card>
            <h2 xx class="centered">Signup</h2>
            <table>
                {{ form.as_table }}
            </table>

            {# TODO Fix weird input button alignment on different mobile sizes #}
            <grid>
                <div col="1/2">
                    <input required type="checkbox" id="general_terms_and_conditions"
                           name="general_terms_and_conditions">
                    <label for="general_terms_and_conditions">
                        <p class="inline">
                            Agree to <a href="{% url 'profiles:general_terms_and_conditions' %}" target="_blank">general
                            terms and
                            conditions</a>
                        </p>
                    </label>
                </div>
                <div col="1/2">
                    <input required type="checkbox" id="privacy_policy" name="privacy_policy">
                    <label for="privacy_policy">
                        <p class="inline">
                            Agree to <a href="{% url 'profiles:privacy_policy' %}" target="_blank">privacy policy</a>
                        </p>
                    </label>
                </div>
            </grid>
        </card>

        <button primary full>Signup</button>
    </form>
{% endblock %}
