{% extends 'the_platform/base.html' %}

{% block title %}
    Transactions | {{ block.super }}
{% endblock %}

{% if user.is_authenticated %}
    {% block links %}
        <ul>
            <li>
                <a>Create Bet</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                    </menuitem>
                </menu>
            </li>
            <li>
                <a>{{ user.profile }}</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}">Profile</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'profiles:logout' %}">Logout</a>
                    </menuitem>
                </menu>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    <table>
        <tr>
            <th>Date</th>
            <th>Credit</th>
            <th>Debit</th>
        </tr>
        {% for entry in table %}
            <tr>
                <th>{{ entry.0 }}</th>
                <th>{{ entry.1 }}</th>
                <th>{{ entry.2 }}</th>
            </tr>
        {% empty %}
            <p style="display: inline">
                No entries available. Please contact the administrator. This shouldn't happen.
            </p>
        {% endfor %}
    </table>
{% endblock %}
