{% extends 'the_platform/base.html' %}

{% block title %}
    {{ block.super }} | Transactions
{% endblock %}

{% block profile_name %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Date</th>
            <th>Credit</th>
            <th>Debit</th>
        </tr>
        {% for entry in table %}
            <tr>
                <th>{{ entry.0 }}</th>
                <th>{{ entry.1 }}</th>
                <th>{{ entry.2 }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
