{% extends 'the_platform/base.html' %}

{% if user_authenticated %}
    {% block links %}
        <ul>
            <li>
                <a>Create Bet</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                    </menuitem>
                </menu>
            </li>
            <li>
                <a>{{ user.profile }}</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}">Profile</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'profiles:logout' %}">Logout</a>
                    </menuitem>
                </menu>
            </li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    {{ user_authenticated }}
{% endblock %}
