{% extends 'the_platform/base.html' %}

{% block content %}
    500
    <p>user: {{ user }}</p>
    <p>is anonymous: {{ user.is_anonymous }}</p>
    <p>is authenticated: {{ user.is_authenticated }}</p>
{% endblock %}

{% if user.is_authenticated and not user.is_anonymous %}
    {% block links %}
        <ul>
            <li>
                <a>Create Bet</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                    </menuitem>
                </menu>
            </li>
            <li>
                <a>{{ request.user.profile }}</a>
                <menu>
                    <menuitem>
                        <a href="{% url 'profiles:profile' %}">Profile</a>
                    </menuitem>
                    <menuitem>
                        <a href="{% url 'profiles:logout' %}">Logout</a>
                    </menuitem>
                </menu>
            </li>
        </ul>
    {% endblock %}
{% endif %}
