{% load staticfiles %}
<html>
<head>
    <meta charset=utf-8>
    <meta name="description" content="A classless CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>{% block title %}Bad Bat Bets{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'the_platform/style.css' %}">
    <link rel="icon" href="{% static 'the_platform/favicon.ico' %}">
</head>
<body>
<main>
    <nav fx>
        <label>
            <input type="checkbox">
            <header>
                <a href="/"><img src="{% static 'the_platform/logo.svg' %}">Bad Bat Bets</a>
            </header>
            <ul>
                <li>
                    <a>Bets</a>
                    <menu>
                        <menuitem><a href="{% url 'bets:create_bet' %}">Create Bet</a> </menuitem>
                        <menuitem><a href="/">Bets</a></menuitem>
                        <menuitem><a href="/">Choice Bets</a></menuitem>
                    </menu>
                </li>
                <li><a href="/">Profile</a></li>
            </ul>
        </label>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {# TODO Fix at bottom #}
    <footer>
        <p>&copy; Fusion Integrals 2016</p>
    </footer>
</main>
</body>
</html>
