{% load staticfiles %}
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>{% block title %}Bad Bat Bets{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'the_platform/css/style.css' %}">
    <link rel="icon" href="{% static 'the_platform/icons/favicon.ico' %}">
</head>
<body>
<main>
    <nav fx>
        <label>
            <input type="checkbox">
            <header>
                <a href="{% url 'bets:index' %}"><img src="{% static 'the_platform/icons/logo.svg' %}">Bad Bat Bets</a>
            </header>
            {% block links %}
                <ul>
                    <li>
                        <a>Create Bet</a>
                        <menu>
                            <menuitem>
                                <a href="{% url 'bets:create_choice_bet' %}">Choice Bet</a>
                            </menuitem>
                            <menuitem>
                                <a href="{% url 'bets:create_date_bet' %}">Date Bet</a>
                            </menuitem>
                        </menu>
                    </li>
                    <li>
                        <a>{% block profile_name %}Profile{% endblock %}</a>
                        <menu>
                            <menuitem>
                                <a href="{% url 'profiles:profile' %}">Profile</a>
                            </menuitem>
                            <menuitem>
                                <a href="{% url 'profiles:logout' %}">{% block login %}Logout{% endblock %}</a>
                            </menuitem>
                        </menu>
                    </li>
                </ul>
            {% endblock %}
        </label>
    </nav>

    <section>
        {% block content %}
            <p>No content yet.</p>
        {% endblock %}
    </section>

    {# TODO Fix at bottom #}
    <footer>
        <grid>
            <div col="1/2">
                <p>&copy; Fusion Integrals 2016</p>
            </div>
            <div col="1/2" txt="r">
                <p>
                    <a href="{% url 'profiles:general_terms_and_conditions' %}">General terms and conditions</a>
                    <a href="{% url 'profiles:privacy_policy' %}">Privacy policy</a>
                </p>
            </div>
        </grid>
    </footer>
</main>
</body>
</html>
