{% load staticfiles %}

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>

<h1>Binary bets</h1>

<h2>Binary bets</h2>
<ul>
    {% for binary_bet in all_binary_bets %}
        <li><a href="{% url 'bets:binary_bet' binary_bet.prim_key %}">{{ binary_bet.name }}</a></li>
        {% if not binary_bet.resolved %}
            <p>Available choices</p>
            <ul>
                <li>{{ binary_bet.alternative_option }}</li>
                <li>{{ binary_bet.null_option }}</li>
            </ul>
        {% endif %}
    {% empty %}
        <li>No bets are available yet.</li>
    {% endfor %}
</ul>

<h2>Placed binary bets</h2>
<ul>
    {% for placed_binary_bet in all_placed_bets %}
        <li><a href="{% url 'bets:binary_bet' placed_binary_bet.prim_key %}">{{ placed_binary_bet.placed_on.name }}</a>
        </li>
        <p>Placed amount: {{ placed_binary_bet.placed_amount }}</p>
        {% if placed_binary_bet.chose_alternative %}
            <p>Choice: {{ placed_binary_bet.placed_on.alternative_option }}</p>
        {% else %}
            <p>Choice: {{ placed_binary_bet.placed_on.null_option }}</p>
        {% endif %}
    {% empty %}
        <li>No bets are available yet.</li>
    {% endfor %}
</ul>
